.Landing-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .menu-toggler {
    position: absolute;
    display: block;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width:40px;
    height:40px;
    z-index:2;
    opacity:0;
    cursor:pointer;
  }

  .menu-toggler:hover + label,
  .menu-toggler:hover + label:before,
  .menu-toggler:hover + label:after {
    background: white;
  }

  .menu-toggler:checked + label {
    background: transparent;
  }

  .menu-toggler:checked + label:before,
  .menu-toggler:checked + label:after {
    top:0;
    width:40px;
    transform-origin: 50% 50%;
  }

  .menu-toggler:checked + label:before {
    transform: rotate(45deg) translateY(-15px) translateX(-15px);
  }

  .menu-toggler:checked + label:after {
    transform: rotate(-45deg);
  }

  .menu-toggler:checked ~ ul .menu-item { 
    opacity: 1;
  }

  .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translate(-110px);
  }
  
  .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-110px);
  }

  .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-110px);
  }

  .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-110px);
  }

  .menu-toggler:checked ~ ul .menu-item:nth-child(5) {
    transform: rotate(240deg) translateX(-110px);
  }

  .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
    transform: rotate(300deg) translateX(-110px);
  }

  .menu-toggler:checked ~ ul .menu-item a {
    pointer-events:auto;
  }

  .menu-toggler + label {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(230, 239, 250, 0.9);
    transition: transform 0.5s top 0.5s;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .menu-toggler + label:before,
  .menu-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
  }

  .menu-toggler + label:before {
    top: 10px;
  }

  .menu-toggler + label:after {
    top: -10px;
  }

  .menu-item:nth-child(1) a {
    transform: rotate(0deg);
  }

  .menu-item:nth-child(2) a {
    transform: rotate(-60deg);
  }

  .menu-item:nth-child(3) a {
    transform: rotate(-120deg);
  }

  .menu-item:nth-child(4) a {
    transform: rotate(-180deg);
  }

  .menu-item:nth-child(5) a {
    transform: rotate(-240deg);
  }

  .menu-item:nth-child(6) a {
    transform: rotate(-300deg);
  }

  .menu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
  }

  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(230, 230, 250, 0.7);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  
  .menu-item a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: white;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px
  }

body {
    background-image: url('../../images/backdrop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.title {
    font-size: 40px;
}

button {
    border: none;
    width: 50%;
    padding: 5px;
    border-radius: 3%;
}

.inLogin {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    padding: 10px 50px 50px 50px;
    box-shadow: 0px 0px 10px black;
    border-radius: 2%;
    background: rgba(71, 85, 102, 0.5);
    text-align: center;
}

.loginArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.optionsCont {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7%;
}

.options { 
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 100px;
  width: 100px;
  text-align: center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.options:hover{
  background: rgb(251, 193, 245);
}

.loginBtn {
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: rgb(30, 215, 96) -2px -2px 0px 2px, rgb(25, 20, 20) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.loginBtn:hover{
  box-shadow: rgb(25, 20, 20) -2px -2px 0px 2px, rgb(30, 215, 96) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
}

.logoutBtn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  font-size: 15px;
  height: 35px;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, #00d301 9.16%, #36c275 43.89%, #00a562 64.72%);
  transition: all 0.5s ease 0s;  
}

.logoutBtn:hover{
  box-shadow: rgb(30 215 96 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}